.activities {
    padding-top: 0;
    @include section(0);
}

.activities__title {
    @extend %titles;
}

.activities__item {
    position: relative;
}

.activities__overlay {
    position: absolute;
    bottom: 0;
    width: 100%;

    padding: 27px 0;
    background-color: rgba(47, 48, 58, 0.8);
}

.activities__overlay-text {
    font-weight: 700;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--team-card-bg-color);
}