.address__link {
    color: var(--address-footer-color);
    font-style: normal;

    transition: color var(--hover-focus-duration) var(--hover-focus-timing-function);

    &--white {
        color: var(--address-footer-secondary-color);
    }

    &:hover, &:focus {
        color: var(--brand-color);
    }
}

.address__item {
    line-height: calc(16 / 14);

    &:not(:last-child) {
        margin-bottom: 12px;
    }

    @media screen and (max-width: 1199px) {
        text-align: center;
    }

    @media screen and (max-width: 767px) {
        &:last-child {
            margin-bottom: 60px;
        }
    }
}
