.clients {
    @include section();

    --cards-in-row: 2;

    @media screen and (min-width: 768px) {
        --cards-in-row: 3;
    }

    @media screen and (min-width: 1200px) {
        --cards-in-row: 6;

        @include section(94px, 94px);
    }
}

.clients__title {
    @extend %titles;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;

        font-size: 36px;
        line-height: calc(42 / 36);
    }
}

.clients__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: var(--socials-primary-fill);

    transition: color var(--hover-focus-duration) var(--hover-focus-timing-function);

    &:hover, &:focus {
        color: var(--brand-color);
    }
}

.clients__icon {
    fill: currentColor;
}