.header {
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__logo {
    padding: 16px 0 15px 0;

    @media screen and (min-width: 768px) {
        padding: 26px 0 25px 0;
        margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 93px;
        padding: 24px 0 24px 0;
    }
}