.logo {
    font-family: var(--logo-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
}

.logo__label {
    color: var(--brand-color);
}

.logo__label--black {
    color: var(--logo-primary-color)
}

.logo__label--white {
    color: var(--logo-secondary-color)
}