.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity var(--hover-focus-duration) var(--hover-focus-timing-function), visibility var(--hover-focus-duration) var(--hover-focus-timing-function);

}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    padding: 40px;
    width: 528px;
    min-height: 581px;

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform var(--hover-focus-duration) var(--hover-focus-timing-function), opacity var(--hover-focus-duration) var(--hover-focus-timing-function);

    .backdrop.is-hidden & {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.6);
    }
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--logo-primary-color);

    transition: color var(--hover-focus-duration) var(--hover-focus-timing-function);

    &:hover, &:focus {
        color: var(--brand-color);
    }
}

.modal__close-icon {
    fill: currentColor;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal__header {
    display: block;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-color);
}

.modal-form__group {
    position: relative;
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;

    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    color: var(--primary-color);

    &--last {
        margin-bottom: 20px;
    }
}


.modal-form__label {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    color: #757575;
}

.modal-form__field {
    width: 100%;
    height: 40px;

    padding: 12px 16px 12px 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    transition: border-color var(--hover-focus-duration) var(--hover-focus-timing-function);

    &:focus {
        border-color: var(--brand-color);
    }
}

.modal-form__icon {
    position: absolute;
    bottom: 11px;
    left: 12px;

    transition: fill var(--hover-focus-duration) var(--hover-focus-timing-function);
}

.modal-form__group:focus-within {
    fill: var(--brand-color);
}

.modal-form__policy {
    display: flex;
    align-items: center;
    gap: 7px;

    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.modal-form__textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    transition: border-color var(--hover-focus-duration) var(--hover-focus-timing-function);

    resize: none;

    &::placeholder {
        font-size: 12px;
        line-height: calc(14 /12);
        letter-spacing: 0.01em;
        
        color: var(--placeholder-color);
    }

    &:focus {
        border-color: var(--brand-color);
    }
}

.modal-form__text {
    font-size: 14px;
    line-height: calc(24 / 14);

    color: var(--primary-color);
}

.modal-form__link {
    color: var(--brand-color);
}

.modal-form__checkbox {
    appearance: none;

    display: block;
    width: 16px;
    height: 15px;


    outline: 2px solid var(--secondary-color);
    outline-offset: -2px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");


    transition: outline-color var(--hover-focus-duration) var(--hover-focus-timing-function),
        background-color var(--hover-focus-duration) var(--hover-focus-timing-function),
        box-shadow var(--hover-focus-duration) var(--hover-focus-timing-function),
        background-size var(--hover-focus-duration) var(--hover-focus-timing-function);

    &:checked {
        outline-color: var(--brand-color);
        background-color: var(--brand-color);
        box-shadow: none;
        background-size: 11px 8px;
    }
}

.modal__send-btn {
    @include primary-btn();

    margin-left: auto;
    margin-right: auto;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
