.portfolio {
    @include section();

    --cards-in-row: 1;
        
    @media screen and (min-width: 768px) {
        --cards-in-row: 2;
    }
        
    @media screen and (min-width: 1200px) {
        --cards-in-row: 3;
    }
}