.portfolio_btn-set {
    display: flex;
    gap: 8px;

    &--upper {
        margin-bottom: 15px;
    }
}

.portfolio__btn-list {
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        gap: 8px;
        
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

.portfolio__btn {
    cursor: pointer;

    padding: 6px 22px;

    min-height: 38px;
    min-width: 73px;
    border: none;
    border-radius: 4px;

    color: var(--secondary-color);
    background-color: var(--portfolio-btn-background-color);

    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;

    transition: color var(--hover-focus-duration) var(--hover-focus-timing-function),
        background-color var(--hover-focus-duration) var(--hover-focus-timing-function),
        box-shadow var(--hover-focus-duration) var(--hover-focus-timing-function);

    &:hover, &:focus {
        color: var(--logo-secondary-color);
        background-color: var(--brand-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }  
}

// .portfolio__btn-item:not(:last-child) {
//     margin-right: 8px;
// }

