.site-nav {
    display: flex;
}

.site-nav__list {
    display: flex;
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 32px 2px 31px 2px;
    /* лівий та правий паддінги взяти орієнтовно (для симетричності нижньої декоративної риски), так як на макеті у Студії значення 1/2 px, а у Портфоліо 3/3 px */

    color: var(--secondary-color);

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    transition: color var(--hover-focus-duration) var(--hover-focus-timing-function);

    &:hover, &:focus {
        color: var(--brand-color);
    }
}



