.subscribe-form__form {
    display: flex;
    gap: 12px;
}

.subscribe-form__text {
    @extend %footer-text;
}

.subscribe-form__input {
    width: 358px;
    height: 50px;
    /* margin-right: 12px; */
    padding: 15px 16px;

    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
    color: var(--address-footer-color);

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    background-color: transparent;

    &::placeholder {
        font-size: 16px;
        line-height: calc(20 / 16);
        letter-spacing: 0.03em;
        color: var(--address-footer-color);
    }
}

.subscribe__btn {
    @include primary-btn();

    gap: 10px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

