.subscribe-form__form {
    @media screen and (min-width: 1200px) {
        display: flex;
        gap: 12px;
    }
}

.subscribe-form__text {
    @extend %footer-text;

    @media screen and (max-width: 1199px) {
        text-align: center;
    }
}

.subscribe-form__input {
    display: block;
    width: 100%;
    height: 50px;

    padding: 15px 16px;

    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
    color: var(--address-footer-color);

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    background-color: transparent;

    &::placeholder {
        font-size: 16px;
        line-height: calc(20 / 16);
        letter-spacing: 0.03em;
        color: var(--address-footer-color);
    }

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (max-width: 1199px) {
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 1200px) {
        width: 358px;        
    }
}

.subscribe__btn {
    @include primary-btn();

    gap: 10px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    @media screen and (max-width: 1199px) {
        margin: auto;
    }
   
}

